.slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
}

.slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

.slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

.slideshow {
    position: relative;
    height: 400px;
    width: 720px;
}

.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    width: 720px;
}

.slideshow img.active {
    z-index: 10;
}

.slideshow img.last-active {
    z-index: 10;
}